<!DOCTYPE html>
<html>
<head>
    <title>Detail Cast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        async function addressAuto() {
            var inputText = document.getElementById("location").value;
            var url = "https://api.geoapify.com/v1/geocode/autocomplete?text=" + inputText + "&apiKey=" + apiKey;
            const response = await fetch(url);
            const jsonData = await response.json();
            var suggestionList = document.getElementById("results");
            suggestionList.innerHTML = "";
            for (var i = 0; i < jsonData.features.length; i++) {
                document.getElementById("results").style.display = "block";
                var option = document.createElement("li");
                option.textContent = jsonData.features[i].properties.formatted;
                option.addEventListener("click", function () {
                    document.getElementById("location").value = this.textContent;
                    suggestionList.innerHTML = "";
                    document.getElementById("results").style.display = "none";

                });
                suggestionList.appendChild(option);
            }
        }
    </script>
    <script src="{{ url_for('static', filename='config.js') }}"></script>
</head>
<body>
<div class="container">
    <h1>Detail Cast</h1>
    <form method="POST">
        <label for="location">Enter a location:</label>
        <div class="dropdown">
            <input type="text" id="location" name="location" oninput="addressAuto()"
                   placeholder="e.g., New York, London, etc." required>
            <ul id="results"></ul>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>

