<!DOCTYPE html>
<html>
<head>
    <title>Address Autocomplete Example</title>
    <script>
        async function addressAuto() {
            var inputText = document.getElementById("address-input").value;
            var url = "https://api.geoapify.com/v1/geocode/autocomplete?text=" + inputText + "&apiKey=" + apiKey;
            const response = await fetch(url);
            const jsonData = await response.json();
            var suggestionList = document.getElementById("results");
            suggestionList.innerHTML = "";
            for (var i = 0; i < jsonData.features.length; i++) {
                var option = document.createElement("li");
                option.textContent = jsonData.features[i].properties.formatted;
                suggestionList.appendChild(option);
            }
        }
    </script>
    <script src="config.js"></script>
</head>
<body>
<label for="address-input">Enter address:</label>
<input type="text" id="address-input" name="address" oninput="addressAuto()">
<ul id="results">
</ul>
</body>
</html>
